.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    .logo {
      height: 100%;
      width: 30px;
      padding: 10px;

    }
  
    .options {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .option {
        padding: 25px 25px;
        margin-top: 20px;
      }
    }
  }
  