.square-settings {
    width: 20%;
    height: 100px;
    border-radius: 25px;
    display: inline-block;
    border: 1px solid white;
    margin: 15px 15px 20px;
    transition: transform 250ms;
    min-width: 150px;
    font-weight: bold;
    font-size: 24px;
    background: #fff;
  }

.chosen-settings {
  background: grey;
}

.game-board-settings {
	display: inline-block;
	width: 100%;
}
